@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%; 
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}

/* Header */
header, header .container{
    width: 100%;
}
header{
    align-items: center;
}
header{
    padding: 1rem 20rem;
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    align-items: center;
}
header ul{
    display: flex;
    text-align: center;
    padding: 0rem 7rem 0rem 19rem;
}
header ul li{
    padding-left:10%;
}
/* over */




/* banner */
.container{
    width: 100%;
}
.container .banner{
    padding: 19rem 20rem 17rem 20rem;
    background-image: url('../images/banner.png');
    background-size: 100% auto;
}
.container .banner h1{
    font-size: 3rem;
    margin: 15px 0px;
}
.container .banner p:nth-child(1){
    font-size: 25px;
}
.container .banner p:nth-child(3){
    font-size: 17px;
}
.container .banner button{
    background-color: black;
    padding: 15px 65px;
    color: white;
    margin: 25px 0px 0px 0px;
}
/* over */





/* Feature card */
.feature-card, .feature-card .container{
    width: 100%;
}
.feature-card .container{
    padding: 1rem 20rem;
    display: flex;
    align-items: center;
}
.feature-card .container .col-4{
    width: 33%;
    background-color: #f6f6f6;
    text-align: center;
    padding: 3% 0%;
    margin: 4% 0%;
}
.feature-card .container .col-4:not(:last-child){
    margin-right: 20px;
}
/* over */



/* Best seller cards 8 */
.best-seller-card-heading, .best-seller-card-heading ul{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.best-seller-card-heading ul li:first-child{
    color: #318cb0;
}
.best-seller-card-heading ul li{
    padding: 0rem 2rem 3rem 2rem;
}
.best-seller-card{
    width: 100%;
    padding: 0% 20rem;
}
.best-seller-card .container{
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* display: inline-grid; */
}
.best-seller-card .container .col-3 img:first-child{
    width: 98%;
}
.best-seller-card .container .col-3 h3, .best-seller-card .container .col-3 h4{
    margin: 15px 0px;
}
.best-seller-card .container .col-3{
    width: 24%;
    box-sizing: border-box;
    display: inline-block;
}
.best-seller-card .container .col-3:not(:nth-child(4)), .best-seller-card .container .col-3:not(:nth-child(8)){
    margin: 10px 0px;
}
/* over */


.deal-of-the-day{
    width: 100%;
    padding: 0rem 20rem;
    box-sizing: border-box;
}
.deal-of-the-day .row{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal-of-the-day .row .col-6{
    width: 49%;
    box-sizing: border-box;
}
.deal-of-the-day .row .col-6 img:first-child{
    width: 100%;
    height: 100%;
}
.deal-of-the-day .row .col-6 img:not(:first-child){
    padding: 17px 0px;
}
.deal-of-the-day .row .col-6 h5{
    font-size: 20px;
}
.deal-of-the-day .row .col-6 p{
    font-size: 17px;
    padding: 2px 150px 20px 0px;
}
.deal-of-the-day .row .col-6 span:first-child{
    color: #318cb0;
}
.deal-of-the-day .row .col-6 .timer span{
    display: inline-block;
    padding: 11px;
    background-color: #318cb0;
    margin-right: 10px;
    color: white;
    width: 65px;
    text-align: center;
}
.deal-of-the-day .row .col-6 button{
    background-color: #318cb0;
    padding: 10px 35px;
    border: none;
    color: white;
    margin: 10px 0px;
    border-radius: 35px;
}
