@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

div.line-before-after::before {
    content: "";
    border-top: 1px solid #dee2e6;
    display: inline-block;
    width: 47%;
    bottom: 5px;
    position: relative;
    margin-right: 10px;
}

div.line-before-after::after {
    content: "";
    border-top: 1px solid #dee2e6;
    display: inline-block;
    width: 47%;
    bottom: 5px;
    position: relative;
    margin-left: 10px;
}